
@{
    Layout = "~/Views/Home/_LayoutCRM.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body class="g-sidenav-show" style="background-color: #FFFF">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <!--   Core JS Files   -->
    <script src="~/Content/assets/js/core/popper.min.js"></script>
    <script src="~/Content/assets/js/core/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/Content/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="~/Content/assets/js/plugins/chartjs.min.js"></script>
  
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <div class="container mb-4 container-round" style="padding-top:100px">
            <h2 style="padding-left:25px">
                Applicants
            </h2>
            <table id="myTable" class="table table-hover table-responsive " style="padding-left:25px!">
                <thead>
                    <tr style="text-align:center">
                        <th>Application Number</th>
                        <th>Full Name</th>
                        <th>Status</th>
                        <th>Reason</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var userApplication in Model)
                    {
                        if (userApplication.status != null)
                        {
                            <tr style="text-align:center">
                                <td>@userApplication.applicationNumber</td>
                                <td>@userApplication.fullName</td>
                                <td>@userApplication.status</td>
                                <td>@userApplication.denialReason</td>
                                <td>
                                    <!-- Pass the application ID as a data attribute -->
                                    <button class="btn btn-success btn-sm" id="view-application-btn" data-application-id="@userApplication.applicationId">View Application</button>
                                </td>

                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <!-- Modal for viewing application details -->
        <div class="modal fade" id="viewApplicationModal" tabindex="-1" role="dialog" aria-labelledby="viewApplicationModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="viewApplicationModalLabel">Application Details</h5>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close" id="modalClose">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="viewApplicationSection">
                        <!-- Application details go here -->
                    </div>
                </div>
            </div>
        </div>


    </main>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
        $(function () {
            $('#modalClose').on('click', function () {
                $('#viewApplicationModal').modal('hide');
                $('#applicationModal').modal('hide');
            })
        })

    </script>

    <script>
        // Add event listener to the table, listening for clicks on buttons with class 'view-application-btn'
        document.querySelector('table').addEventListener('click', function (event) {
            if (event.target.id === 'view-application-btn') {

                // Get the application ID from the data attribute of the clicked button
                var applicationId = event.target.dataset.applicationId;

                // Send an AJAX request to retrieve the application details from the server
                fetch(`/Home/GetApplicationDetails?applicationId=${applicationId}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        // Convert the birthdate from milliseconds to a Date object if it's not null or undefined
                        var formattedBirthdate = data.birthdate ? new Date(parseInt(data.birthdate.substr(6))) : '';

                        // If birthdate is not null or undefined, adjust and format it
                        if (formattedBirthdate) {
                            // Adjust the date to display the correct local date
                            var adjustedBirthdate = new Date(formattedBirthdate.getTime() + formattedBirthdate.getTimezoneOffset() * 60000);

                            // Add one day to the adjusted birthdate
                            adjustedBirthdate.setDate(adjustedBirthdate.getDate() + 1);

                            // Format the date as desired (e.g., YYYY-MM-DD)
                            formattedBirthdate = adjustedBirthdate.toISOString().split('T')[0];
                        }


                        var modalContent = `
                 <div class="row">
      <div class="col-md-6">
     <h4>Applicant's ID </h4>
     </div>
     <img src="${data.image}" style="width: 400px; height: 200px; padding-left: 100px; padding-bottom: 20px" />

     <hr>
         <div class="col-md-6">
             <h4> Personal Details </h4>
             <hr>
             <p><strong>Full Name:</strong> ${data.fullName || ''}</p>
             <p><strong>Mother's Maiden Name:</strong> ${data.mothersMaidenName || ''}</p>
             <p><strong>Birthdate:</strong> ${formattedBirthdate || ''}</p>
             <p><strong>Type of ID:</strong> ${data.typeOfId || ''}</p>
             <p><strong>ID Number:</strong> ${data.idNumber || ''}</p>
             <p><strong>Gender:</strong> ${data.gender || ''}</p>
             <p><strong>Civil Status:</strong> ${data.civilStatus || ''}</p>
             <p><strong>Citizenship:</strong> ${data.citizenship || ''}</p>
             <p><strong>Home Ownership:</strong> ${data.homeOwnership || ''}</p>
             <p><strong>Home Address:</strong> ${data.homeAddress || ''}</p>
             <p><strong>Plan: </strong> ${data.plans || ''}</p>
             <p><strong>Payment Method: </strong> ${data.modeOfPayment || ''}</p>
         </div>
         <div class="col-md-6">
             <h4> Work Details </h4>
             <hr>
             <p><strong>Employment Status:</strong> ${data.employmentStatus || ''}</p>
             <p><strong>Total Household Income:</strong> ${data.totalHouseholdIncome || ''}</p>
             <p><strong>Occupation:</strong> ${data.occupation || ''}</p>
             <p><strong>Occupation Rank:</strong> ${data.occupationRank || ''}</p>
             <p><strong>Business Name:</strong> ${data.businessName || ''}</p>
             <p><strong>Business Address:</strong> ${data.businessAddress || ''}</p>
             <p><strong>Office Telephone:</strong> ${data.officeTelephone || ''}</p>
         </div>
     </div>
            `;

                        // Update the modal body with the populated content
                        document.querySelector('#viewApplicationModal .modal-body').innerHTML = modalContent;

                        // Open the modal
                        $('#viewApplicationModal').modal('show');
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }
        });
    </script>

    <script>
        // JavaScript to show/hide other ID input field based on selection
        document.addEventListener("DOMContentLoaded", function () {
            var typeOfIdSelect = document.getElementById("typeOfId");
            var otherIdInput = document.getElementById("otherIdInput");

            typeOfIdSelect.addEventListener("change", function () {
                if (typeOfIdSelect.value === "Other") {
                    otherIdInput.style.display = "block";
                } else {
                    otherIdInput.style.display = "none";
                }
            });
        });

    </script>

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/Content/assets/js/material-dashboard.min.js?v=3.0.0"></script>
</body>

</html>